@model IEnumerable<CompanyASP.Models.Unit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Подразделения компании</title>
</head>
<body>
    <h3>Подразделения компании</h3>
    <table>
        <tr>
            <td>Код подразделения</td>
            <td>Название подразделения</td>
            <td>Количество сотрудников</td>
        </tr>
        @foreach(var unit in Model)
        {
            <tr>
                <td>@unit.UnitID</td>
                <td>@unit.FullName</td>
                <td>@unit.CountEmployee</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@unit.UnitID">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@unit.UnitID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@unit.UnitID">Удалить</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>