@model IEnumerable<CompanyASP.Models.ProgressEmployee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Прогресс сотрудников</title>
</head>
<body>
    <h3>Прогресс сотрудников</h3>
    <table>
        <tr>
            <td>Код прогресса</td>
            <td>ФИО сотрудника</td>
            <td>Прогресс сотрудника</td>
        </tr>
        @foreach(var progress in Model)
        {
            <tr>
                <td>@progress.EmployeeID</td>
                <td>@progress.Employee.FullName</td>
                <td>@progress.Progress</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@progress.ProgressEmployeeID">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@progress.ProgressEmployeeID">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@progress.ProgressEmployeeID">Удалить</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>